*
!Dockerfile
!Dockerfile.base
!DoWhiz_service/
!DoWhiz_service/**
!version_base.txt

DoWhiz_service/.workspace
DoWhiz_service/.workspace/**
DoWhiz_service/target
DoWhiz_service/target/**
DoWhiz_service/**/.env
DoWhiz_service/**/.env.*
