.env
.vscode/settings.json
mvp/email_pipeline/workspaces/
mvp/email_pipeline/outbox/
*.pyc
mvp/email_pipeline/state/postmark_processed_ids.txt
mvp/email_pipeline/**/tests/report.json
.gmail_client_secret.json
/MVP/target/debug/.fingerprint
/MVP/target/debug
MVP/target/.rustc_info.json
MVP/target/CACHEDIR.TAG
